<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Girl-Email-欢迎访问</title>
	<meta name="keywords" content="" />
	<meta name="description" content=" "/>
	<link rel="stylesheet" href="public/css/welcome.css">

<body>
<div>
  <div class="reveal"><%= text %></div>
</div>
<div style="margin-top: 20px"> <a href="https://github.com/girl-email">github</a></div>
<script src="public/js/welcome.js"></script>
</body>

</html>
